/* Error: expected selector.
 *    ,
 * 18 | rgb(101,24,65)
 *    |    ^
 *    '
 *   style.sass 18:4  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: expected selector.\a    \2577 \a 18 \2502  rgb(101,24,65)\d\a    \2502     ^\a    \2575 \a   style.sass 18:4  root stylesheet";
}
